# Ignore everything
#---------------------------------------------------
*

# Dont ignore the following
#---------------------------------------------------
!.gitignore
!.bash_profile
!.bashrc
!.gitconfig