[user]
name = Mathieu Gosselin
email = gosselin.mathieug@gmail.com
[color]
ui = true
branch = auto
diff = auto
status = auto
[color "branch"]
current = yellow reverse
local = yellow
remote = green
[color "diff"]
meta = yellow bold
frag = magenta bold
old = red bold
new = green bold
[color "status"]
added = green bold
changed = red bold
untracked = cyan
[core]
editor = nano
excludesfile = ~/.gitignore_global
[merge]
ff = false
[push]
default = simple
