include "/usr/local/share/nano/apache2.nanorc";
include "/usr/local/share/nano/apacheconf.nanorc";
include "/usr/local/share/nano/conf.nanorc";
include "/usr/local/share/nano/css.nanorc";
include "/usr/local/share/nano/html.nanorc";
include "/usr/local/share/nano/info.nanorc";
include "/usr/local/share/nano/ini.nanorc";
include "/usr/local/share/nano/js.nanorc";
include "/usr/local/share/nano/mimetype.nanorc";
include "/usr/local/share/nano/nanorc.nanorc";
include "/usr/local/share/nano/perl.nanorc";
include "/usr/local/share/nano/php.nanorc";
include "/usr/local/share/nano/php2.nanorc";
include "/usr/local/share/nano/python.nanorc";
include "/usr/local/share/nano/rsync.nanorc";
include "/usr/local/share/nano/ruby.nanorc";
include "/usr/local/share/nano/urls.nanorc";
include "/usr/local/share/nano/xml.nanorc";
