"*":
  "SFTP-deployment": {}
  core:
    allowPendingPaneItems: false
    disabledPackages: [
      "mechanical-keyboard-1"
      "markdown-preview"
      "archive-view"
      "status-bar"
      "metrics"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      ".Thumbs.db"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "git-projects"
    ]
    projectHome: "~/Projects"
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "one-dark-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    fontSize: 11
    invisibles: {}
    normalizeIndentOnPaste: false
    softWrap: true
    tabType: "soft"
  "exception-reporting":
    userId: "2285706d-2655-d574-7a63-e3431a759acc"
  "git-projects":
    openInDevMode: false
    rootPath: "~/Projects"
    showGitInfo: false
  minimap: {}
  tabs:
    usePreviewTabs: true
  welcome:
    showOnStartup: false
".asp.html.text":
  editor:
    normalizeIndentOnPaste: "false"
".asp.source":
  editor:
    normalizeIndentOnPaste: "false"
